<mat-drawer-container class="container" autosize hasBackdrop="false" [formGroup]="form">
  <mat-drawer #drawer class="sidenav" mode="push">
    <!-- navigation menu content -->
    <div class="menu-content">
      <h1>MARKDOWN</h1>
      <article>
        <h2>MY DOCUMENTS</h2>
        <button mat-raised-button color="accent">
          <mat-icon>add</mat-icon>
          New Document
        </button>
        <mat-action-list>
          <ng-container *ngFor="let item of docs">
            <button mat-list-item (click)="goToDoc()">
              <div class="docs">
                <mat-icon class="docs-icon">insert_drive_file</mat-icon>
                <p class="mat-caption">{{item.date | date}}</p>
                <p class="mat-body-2">{{item.name}}</p>
              </div>
            </button>
          </ng-container>
        </mat-action-list>
      </article>
      <article class="single-line">
        <mat-icon style="transform: scaleX(-1);">brightness_3</mat-icon>
        <mat-slide-toggle formControlName="themeToggle" color="primary"></mat-slide-toggle>
        <mat-icon>wb_sunny</mat-icon>
      </article>
    </div>
  </mat-drawer>
  <div class="sidenav-content">
    <!-- adding tool bar -->
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>{{ drawer.opened ? 'close' : 'menu'}} </mat-icon>
      </button>
      <span class="single-line"> <mat-icon>insert_drive_file</mat-icon> <span>New Document.md</span></span>
      <span class="example-spacer"></span>
      <button (click)="onDelete()" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
      <button color="accent" mat-raised-button>
        <mat-icon>save</mat-icon>
      </button>
    </mat-toolbar>

    <mat-toolbar (click)="isEdit = !isEdit" class="doc-header">
      <span class="mat-caption">{{isEdit ? 'MARKDOWN' : 'PREVIEW'}}</span>
      <mat-icon class="doc-header-icon">{{isEdit ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-toolbar>

  </div>
</mat-drawer-container>
